<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Main Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1 >Main Page</h1>
    <div class="container-main-page">
      <div class="section author">
        <h2>Author</h2>
        <ul>
          <button class="styled-button" onclick="window.location.href ='/author/author-home-page'">Author Home Page</button>
      </div>
      <div class="section reader">
        <h2>Reader</h2>
        <ul>
          <button class="styled-button" onclick="window.location.href ='/reader/reader-home-page'">Reader Home Page</button>
      </div>
    </div>
  </body>
</html>
